/* Basic styles for the navbar */
.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-color);
  padding: 10px 20px;
  position: relative;
}

.navbar-container {  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Hamburger icon styles */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 80px; /* Added margin to prevent overlap with toggle */
}

.nav-links li a {
  color: var(--navbar-color);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #0073e6;
}

/* Theme Toggle Container */
.theme-toggle-container {
  position: absolute;
  right: 20px;
  top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--navbar-color);
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 10;
    margin-right: 0; /* Remove margin on smaller screens */
  }

  .nav-links.active {
    display: flex;
  }
}

/* Theme Toggle Button */
.theme-toggle {
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--navbar-color);
  color: var(--navbar-color);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle:hover {
  background-color: #C2CBC8;
  color: white;
}
